<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hiker Paradise | Share your expertise</title>

    <!-- External Stylesheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="style.css"></script>

  </head>
  <body>
    <!-- Navigation Bar and Jumbotron -->
    <nav class="navbar navbar-custom navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <div class="container">
            <div class="col-md-11 col-md-offset-1">
            <a class="navbar-brand" href="#">
              Hiker Paradise
            </a>
          </div>
        </div>
        </div>
      </div>
    </nav>
    <div class="jumbotron">
      <div class="container">
      </div>
    </div>

    <!-- Main Content -->
    <div class="container">
      <div id="post-list"></div>
      <div class="row header-top">
        <div class="col-md-6 col-md-offset-3">
          <div class="text-center">
            <h3 class="align-left">Have something awesome to share? Go ahead and submit a new post!<h3>
            <form id="new-post-submission">
              <div class="form-group">
                <input type="text" class="form-control" id="author-name" placeholder="Author Name" autofocus>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="new-post-title" placeholder="Post Title">
              </div>
              <div class="form-group">
                <textarea class="form-control" id="new-post-content" placeholder="Write your post"></textarea>
                <!-- <input type="text" class="form-control" id="new-post-content" placeholder="Post Content"> -->
              </div>
              <div class="form-group">
                <input type="submit" class="btn btn-custom" value="Submit">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

          <div class="clearfix"></div>
          <!-- Footer -->


          <div class="main-footer">
            <div class="container">
             <div class="col-xs-12 col-sm-12 col-md-12">
              <p class="text-center">&copy; MMXV ROB CARDENAS</p>
            </div>
          </div>
        </div>


      
      
<!-- End Footer -->

  <!-- jquery -->
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

  <script src="http://momentjs.com/downloads/moment.js"></script>

  <!-- Latest compiled and minified Bootstrap JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <!-- underscore -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

  <!-- custom script -->
  <script type="text/javascript" src="script.js"></script>

  <!-- underscore template -->
  

  <!-- Underscore template -->
 
    <script type="text/template" id="post-template">
      <!-- Start User Post -->
      <div id="todo-items">
        <div class="row new-post">
          <div class="col-md-2 col-md-offset-1 sidebar">
            <div id="author"><p>Author: <%= author %></p></div>
          </div>
          <div class="col-md-8 post">
            <div id="post-title"><h1><%= postTitle %></h1></div>
            <div id="post-content"><p><%= userPost %></p></div>
          </div>
        </div>
      </div>
      <!-- End User Post -->
    </script>
   </body>
</html>
