h3.align-left {
  text-align: left; 
}

#post-title h1 {
  margin-top: 0;
  font-size: 1.4em;
}

/* NAVIGATION */ 

.navbar-custom {
	background: #0c030c;
}

.navbar-brand {
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.4em;
}

.navbar-brand:hover {
	color: #c2c0c0;
}

.navbar {
  margin-bottom: 0;
}

.jumbotron {
  position: relative;
  background: #000 url("img/hiking.jpg") center bottom;
  width: 100%;
  height: 200px;
  background-size: cover;
  overflow: hidden;
}

/* WELCOME POST */

.hp-post {
  background: #f9f9f9;
  border-radius: 0.5em;
  margin-bottom: 30px;
  padding: 30px 0;
}

.exit {
    width: 22px;
    height: 22px;
    background: transparent url(img/close-button.png) no-repeat 0 0;
    display: block;
    position: relative;
    float: left;
    margin-top: -40px;
    left: 10px;
}

/* NEW POST SECTION */

.new-post {
  margin-bottom: 30px;
}

.post-area {
  border-left: 1px dotted #eee;
  text-align: justify;
}

.btn-custom {
  color: #fff;
  background-color: #282b3f;
  border-color: #1a1c2d;
}

.btn-custom:hover {
  color: #c2c0c0;
}

.btn-danger-custom {
  color: #fff;
  background-color: #c65874;
}

.form-control:focus {
  border-color: #1772e8;
  box-shadow: inset 0 1px 1px rgba(108, 170, 251, 0.075), 0 0 8px rgba(83, 191, 187, 0.6);
}

.new-post-section {
  background: #eee;
  border-radius: 0.5em;
  margin-top: 20px;
  margin-bottom: 20px;
}

#post-count {
  background: #282b3f;
  border-radius: 0.5em;
  color: #fff;
  margin-bottom: 20px;
  padding: 5px;
}

/* SIDEBAR */

.sidebar {
  background: #eee;
  border-radius: 0.5em 0 0 0.5em;
  padding-top: 5px;
}

/* FOOTER */

.main-footer {
  background-color: #0c030c;
  color: white;
  padding: 30px 0 20px 0;
  clear: both;
}

/* MEDIA QUERIES */

@media (min-width: 768px) {
  .jumbotron {
    height: 300px;
  }
  .navbar-brand {
  	font-size: 2em;
  }
  #post-title h1 {
    font-size: 2em;
  }
  .exit {
    margin-top: -40px;
    left: -10px;
}
}
